header {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #77dd8b;
  }
  
  .logo {
    height: 70px;
  }
  
  .Menú {
    height: 35px;
    width: 55px;
  }
  
  .menú {
    display: flex;
    background-color: aquamarine;
    border-radius: 100%;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }