header{
  background-color: #77dd8b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Sono', sans-serif;;
  }
.logo {
  height: 70px;
}
.Menú {
  height: 35px;
  width: 55px;
}
.menú {
  display: flex;
  background-color: aquamarine;
  border-radius: 100%;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Intro {
  margin-left: 20px;
}
li {
  list-style: none;
}

.cards{
  display: flex;
  font-family: 'Sono', sans-serif;;
}
.card{
  margin: 1.5cm;
  
}

img{
  width: 100px;
  height: 250px;
}
p, h1{
  font-family: 'Sono', sans-serif;;
}
input{
  border-color: 8acba6;
}